<h2>Widgets</h2>
<p>This is a dummy index page</p>

<!-- Here, in a normal view, using the helper admin_custom_action_path works. -->
<%= form_tag admin_custom_action_path, method: :post do |form| %>
  <button type="submit">Custom action!</button>
<% end %>
